@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gh-primary: 359 77% 55%; /* #E33739 */
    --gh-secondary: 197 98% 48%; /* #04AAF1 */
    --gh-accent: 47 79% 65%; /* #EBCD5F */

    --background: 220 91% 96%;
    --foreground: 354 33% 12%; /* #281416 */
    --card: 0 0% 100%;
    --card-foreground: 354 33% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 354 33% 12%;
    --primary: var(--gh-primary);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--gh-secondary);
    --secondary-foreground: 0 0% 100%;
    --muted: 200 24% 41%; /* #41616D */
    --muted-foreground: 200 20% 85%;
    --accent: var(--gh-accent);
    --accent-foreground: 354 33% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: var(--gh-primary);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: var(--gh-primary);
    --primary-foreground: 0 0% 100%;
    --secondary: var(--gh-secondary);
    --secondary-foreground: 0 0% 100%;
    --muted: 200 24% 41%; /* #41616D */
    --muted-foreground: 200 20% 75%;
    --accent: var(--gh-accent);
    --accent-foreground: 354 33% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: var(--gh-primary);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
